<style>
    .admin-customers-container {
        min-height: 100vh;
    }

    .user-search-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 3rem 0;
    }

    .admin-user-search-box {
        border: 1px solid #000000;
        border-radius: 10px;
        padding: .2rem .3rem;
        margin-top: 2rem;
    }

    #user-search {
        border: none;
        outline: none;
        width: 30rem;
        height: 2.5rem;
    }

    table th,
    td {
        text-align: center;
    }

    .add-new-product {
        text-align: center;
        margin: 1rem 0 2rem 0;
    }
    #add-coupon-form{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        width: 100%;
        text-align: start;
    }
    #add-coupon-form label{
        width: 100%;
        text-align: start;
    }


</style>




<%- include('navbar') %>

    <div class="admin-customers-container container">
        <div class="user-search-box">
            <h3>Coupons</h3>
        </div>
        <div class="add-new-product">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target=".add-new-coupon-modal">Add
                Coupons <i class="fa-solid fa-plus"></i></button>

            <!-- modal for adding new coupon -->
            <div class="modal fade add-new-coupon-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content p-5">
                        <div class="form-header text-center">
                            <h2>Add Coupon</h2>
                        </div>
                        <form action="/admin/add-coupon" method="post" class="form-body mt-5" id="add-coupon-form" >
                            <div class="form-group">
                                <label for="couponCode">Coupon Code</label>
                                <input type="text" class="form-control" id="couponCode" placeholder="Enter coupon code" name="couponCode">
                                <label for="couponCode" class="validateCoupon"></label>
                            </div>
                            <div class="form-group">
                                <label for="discountAmount">Discount Amount</label>
                                <input type="text" class="form-control" id="discountAmount"
                                placeholder="Enter discount amount" name="discountAmount">
                                <label for="discountAmount" class="validateCoupon"></label>
                            </div>
                            <div class="form-group">
                                <label for="minAmount">Minimum purchase Amount</label>
                                <input type="text" class="form-control" id="minAmount"
                                placeholder="Enter minimum purchase amount" name="minAmount">
                                <label for="minAmount" class="validateCoupon"></label>
                            </div>
                            <div class="form-group">
                                <label for="maxAmount">Maximum Purchase Amount</label>
                                <input type="text" class="form-control" id="maxAmount"
                                placeholder="Enter maximum purchase amount" name="maxAmount">
                                <label for="maxAmount" class="validateCoupon"></label>
                            </div>
                            <div class="form-group">
                                <label for="expiryDate">Expiry Date</label>
                                <input type="date" class="form-control" id="expiryDate" name="expiryDate">
                                <label for="expiryDate" class="validateCoupon"></label>
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                            </div>
                            
                           
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="user-list-box">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">sl.no</th>
                        <th scope="col">Coupon code</th>
                        <th scope="col">value</th>
                        <th scope="col">Starting date</th>
                        <th scope="col">Expiring date</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>qwer-rtyu-cvbn-asdf</td>
                        <td><i class="fa-solid fa-indian-rupee-sign"></i> 999</td>
                        <td>28/04/2024</td>
                        <td>30/05/2024</td>
                        <td>
                            <a class="btn btn-warning" href="">View</a>
                            <!-- <a class="btn btn-danger" href="">Cancel</a> -->
                        </td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>


    <%- include('footer') %>



    <script>

        // validate the add coupon code
        const addCoupon=document.getElementById('add-coupon-form')
        const couponCode=document.getElementById('couponCode')
        const discountAmount=document.getElementById('discountAmount')
        const minPurchase=document.getElementById('minAmount')
        const maxPurchase=document.getElementById('maxAmount')
        const expiredDate=document.getElementById('expiryDate')

        // add form eventListener
        addCoupon.addEventListener('submit',(e)=>{
            e.preventDefault()

            let formValid=true

            if(couponCode.value.trim()===''){
                document.getElementsByClassName('validateCoupon')[0].innerHTML="Invalid coupon code"
                formValid=false
            }
            if(discountAmount.value.length>10000 || isNaN(discountAmount.value)){
                document.getElementsByClassName('validateCoupon')[1].innerHTML="Invalid Discount Amount"
                formValid=false
            }

            if(minPurchase.value.length>1000000 || isNaN(minPurchase.value)){
                document.getElementsByClassName('validateCoupon')[2].innerHTML="Invalid Minimum Purchase Amount"
                formValid=false
            }
            if(maxPurchase.value.length>1000000 || isNaN(maxPurchase.value)){
                document.getElementsByClassName('validateCoupon')[3].innerHTML="Invalid Maximum Purchase Amount"
                formValid=false
            }
            if(!expiredDate || expiredDate<Date.now()){
                document.getElementsByClassName('validateCoupon')[4].innerHTML="Invalid Expiry Date"
                formValid=false
            }

            if(formValid){
                addCoupon.submit()
            }
            
            
        })

    </script>