<style>
    .admin-dashboard{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>


<%- include('navbar') %>

<div class="admin-dashboard">
    <h2>Welcome to Dashboard</h2>
</div>


<%- include('footer') %>