<style>
    .admin-login-container{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url('../../image/adminLoginbg1.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .login-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        width: 40vw;
        border: 1px solid #000000;
        border-radius: 10px;
        padding: 3rem 2rem;
    }
    .login-form input{
        width: 80%;
        height: 2.5rem;
        border-radius: 10px;
        outline: none;
        border: none;
        background-color: #e7e7e7;
        color: #000000;
        padding: 10px;
    }
    .login-form button{
        width: 10rem;
    }

</style>





<div class="admin-login-container">
    <form action="/admin/login" method="post" class="login-form">
        <h2>Admin Login</h2>
        <input type="email" name="username"  placeholder="username" required>
        <input type="password" name="password"  placeholder="password" required>
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
</div>

