<style>
    .admin-navbar-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1.5rem 2rem;
        align-items: center;
        border-bottom: 1px solid #b7b7b767;
        z-index: 99;
    }

    .logo {
        text-decoration: none;
        font-size: 2rem;
        font-weight: 700;
        color: #000000;
    }
    .logo:hover {
        text-decoration: none;
        font-size: 2rem;
        font-weight: 700;
        color: #000000;
    }

    .admin-navlinks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        margin-left: 1rem;
    }

    .admin-navlinks a {
        display: grid;
        grid-template-columns: 3rem auto;
        text-decoration: none;
        color: #000000;
        align-items: center;
        border: 2px solid #e7e7e7;
        padding: .5rem;
        padding-left: 1rem;
        border-radius: 10px;
        transition: .3s ease-in-out;
    }
    .admin-navlinks a:hover {
       background-color: #d9d9da;
    }

    .search-form {
        width: 500px;
        position: relative;
    }

    .search-form .fa-search {
        position: absolute;
        top: 10px;
        left: 20px;
        color: #9ca3af;

    }

    .form-input {
        text-indent: 33px;
        border-radius: 10px;
    }

    .offcanvas {
        width: 20% !important;
    }
</style>


<header class="admin-navbar-container">
    <a href="/admin/dashboard" class="logo">Cleat Craft</a>
    <form action="" class="search-form">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control form-input" name="adminSearch" placeholder="Search anything...">
    </form>

    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
        aria-controls="offcanvasRight"><i class="fa-solid fa-bars"></i></button>
</header>


<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  
    <div class="offcanvas-body mt-3">
        <nav class="admin-navlinks">
            <button type="button" class="btn btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        
            <a href="/admin/dashboard">
                <i class="fa-solid fa-chart-pie"></i>
                <h5>Dashboard</h5>
            </a>
            <a href="/admin/user"><i class="fa-solid fa-users"></i>
                <h5>Customers</h5>
            </a>
            <a href="/admin/category"><i class="fa-solid fa-layer-group"></i>
                <h5>Category</h5>
            </a>
            <a href="/admin/products"><i class="fa-solid fa-boxes-stacked"></i>
                <h5>Products</h5>
            </a>
            <a href="/admin/orders"><i class="fa-solid fa-cart-shopping"></i>
                <h5>Orders</h5>
            </a>
            <a href="/admin/coupons"><i class="fa-solid fa-ticket"></i>
                <h5>Coupons</h5>
            </a>
            <a href="/admin/logout"><i class="fa-solid fa-right-from-bracket"></i>
                <h5>Logout</h5>
            </a>
        </nav>
    </div>
</div>


<%- include('alert') %>