<style>
    .logo {
        width: 200px;
    }

    .form-white .input-group>.form-control:focus {
        border-color: #000000;
        box-shadow: inset 0 0 0 1px #000000;
    }

    .navbar-light .navbar-nav .nav-link {
        color: #000000;
    }

    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link:focus {
        color: rgba(0, 0, 0, 0.75);
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom p-4">
    <div class="container">
        <a class="navbar-brand" href="/admin/dashboard">
            <img src="../../image/logo.webp" alt="" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ms-5" id="navbarSupportedContent">
            <!-- <form class="mx-5">
                <div class="input-group" style="width: 350px;">
                    <input type="search" class="form-control rounded" placeholder="Search anything..." aria-label="Search"
                        aria-describedby="search-addon" />
                </div>
            </form> -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="/admin/dashboard" class="nav-link">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a href="/admin/trending" class="nav-link">Trending</a>
                </li>
                <li class="nav-item">
                    <a href="/admin/user" class="nav-link">Customers</a>
                </li>
                <li class="nav-item">
                    <a href="/admin/category" class="nav-link">Category</a>
                </li>
                <li class="nav-item">
                    <a href="/admin/products" class="nav-link">Products</a>
                </li>
                <li class="nav-item">
                    <a href="/admin/orders" class="nav-link">Orders</a>
                </li>
                <li class="nav-item">
                    <a href="/admin/coupons" class="nav-link">Coupons</a>
                </li>
                <li class="nav-item">
                    <a href="/admin/offer" class="nav-link">Offer</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="/admin/logout" class="nav-link"><i class="fas fa-power-off"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<%- include('alert') %>