<style>
    .admin-customers-container{
        min-height: 100vh;
    }
   .user-search-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem 0; 
   }
   .admin-user-search-box{
    border: 1px solid #000000;
    border-radius: 10px;
    padding: .2rem .3rem;
    margin-top: 2rem;
   }
   #user-search{
    border: none;
    outline: none;
    width: 30rem;
    height: 2.5rem;
   }
   table th,td{
    text-align: center;
   }
</style>




<%- include('navbar') %>

    <div class="admin-customers-container container">
        <div class="user-search-box">
            <h3>Orders</h3>
            <form action="" method="post" class="admin-user-search-box">
                <input type="text" name="search" id="user-search" placeholder="Find Orders" required>
                <button class="btn"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        <div class="user-list-box">
            <table class="table table-hover">
                <thead >
                    <tr>
                        <th scope="col">sl.no</th>
                        <th scope="col">Name</th>
                        <th scope="col">Order Date</th>
                        <th scope="col">Payment Method</th>
                        <th scope="col">Status</th>
                        <th scope="col">Price</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>ASHWIN CLARENCE</td>
                        <td> 28/04/2024</td>
                        <td>Cash on Delivery</td>
                        <td>Processing</td>
                        <td><i class="fa-solid fa-indian-rupee-sign"></i> 999</td>
                        <td>
                            <a class="btn btn-warning" href="">View</a>
                            <!-- <a class="btn btn-danger" href="">Cancel</a> -->
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>ASHWIN CLARENCE</td>
                        <td> 28/04/2024</td>
                        <td>Cash on Delivery</td>
                        <td>Processing</td>
                        <td><i class="fa-solid fa-indian-rupee-sign"></i> 999</td>
                        <td>
                            <a class="btn btn-warning" href="">View</a>
                            <!-- <a class="btn btn-danger" href="">Cancel</a> -->
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>ASHWIN CLARENCE</td>
                        <td> 28/04/2024</td>
                        <td>Cash on Delivery</td>
                        <td>Processing</td>
                        <td><i class="fa-solid fa-indian-rupee-sign"></i> 999</td>
                        <td>
                            <a class="btn btn-warning" href="">View</a>
                            <!-- <a class="btn btn-danger" href="">Cancel</a> -->
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>ASHWIN CLARENCE</td>
                        <td> 28/04/2024</td>
                        <td>Cash on Delivery</td>
                        <td>Processing</td>
                        <td><i class="fa-solid fa-indian-rupee-sign"></i> 999</td>
                        <td>
                            <a class="btn btn-warning" href="">View</a>
                            <!-- <a class="btn btn-danger" href="">Cancel</a> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <%- include('footer') %>