
    <style>
        .banner-bottom-container {
            background: linear-gradient(120deg,#faf5014e,#ffd00085);
            border-radius: 10px;
            padding: 2rem 0;
            margin-bottom: 5rem;
        }

        .banner-inner-box {
            text-align: center;
            margin-bottom: 1rem;
        }

        .banner-content-box {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #000000;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            margin-bottom: 1rem;
        }

        .banner-content-box i {
            color: #ffffff;
            font-size: 1.5rem;
        }
    </style>

<div class="container">
    <div class="row banner-bottom-container">
        <div class="col-md-4 banner-inner-box">
            <div class="banner-content-box">
                <i class="fas fa-truck-fast"></i>
            </div>
            <h5>Free and Fast Delivery</h5>
            <p>Free delivery for all orders over 500 Rupees</p>
        </div>
        <div class="col-md-4 banner-inner-box">
            <div class="banner-content-box">
                <i class="fas fa-headset"></i>        
            </div>
            <h5>24/7 Customer Service</h5>
            <p>Friendly customer support</p>
        </div>
        <div class="col-md-4 banner-inner-box">
            <div class="banner-content-box">
                <i class="fas fa-handshake-simple"></i>
            </div>
            <h5>Money Back Guarantee</h5>
            <p>Refund within 14 days</p>
        </div>
    </div>
</div>

