<style>
    .products-category-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: "Roboto", sans-serif;
        /* background-color: #f5f5f5; */
        /* border-radius: 5px; */
        padding: 1rem 0;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .products-category-container a {
        cursor: pointer;
        transition: .3s ease-in-out;
        text-decoration: none;
        color: #000000;
    }

    .products-category-container a:hover {
        scale: 1.1;
    }

    .star-filter-label {
        color: orange;
    }
</style>


<div class="products-category-container ">
    <!-- filter button for side bar for left side with filter properties -->
    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#filter-right-side-bar"
        aria-controls="filter-right-side-bar"><i class="fa-solid fa-arrow-down-short-wide"></i>Filter</button>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="filter-right-side-bar"
        aria-labelledby="filter-right-side-barLabel">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <!-- side bar body -->
        <div class="offcanvas-body px-3">
            <form action="" method="get" id="filter-form-home">
                <div class="filer-action-btn mt-2 text-center" >
                    <button class="btn btn-primary" type="submit">Apply Filter</button>
                    <button class="btn btn-secondary" type="reset">Clear Filter</button>
                </div>
                <!-- filter by range -->
                <div class="form-check mt-4">
                    <b>Search</b>
                </div>
                <div class="input-group mb-3 p-2">
                    <input type="search" class="form-control rounded" placeholder="Search anything..."
                    name="userSearch" aria-label="Search" aria-describedby="search-addon" />
                </div>
                <div class="form-check mt-4">
                    <b>Filter by price range</b>
                </div>
                <div class="input-group mb-3 p-2">
                    <span class="input-group-text">Min Price</span>
                    <span class="input-group-text"><i class="fa-solid fa-indian-rupee-sign"></i></span>
                    <input type="text" class="form-control" name="minPrice" aria-label="price filter">
                </div>
                <div class="input-group mb-3 p-2">
                    <span class="input-group-text">Max Price</span>
                    <span class="input-group-text"><i class="fa-solid fa-indian-rupee-sign"></i></span>
                    <input type="text" class="form-control" name="maxPrice" aria-label="price filter">
                </div>
                <!-- filter by star rating -->
                <!-- <div class="form-check mt-3">
                    <b>Customer Review</b>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="productRating" id="product-rating5" value="5">
                    <label class="form-check-label star-filter-label" for="product-rating5">
                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                            class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                            class="fa-solid fa-star"></i>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="productRating" id="product-rating4" value="4">
                    <label class="form-check-label star-filter-label" for="product-rating4">
                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                            class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                            class="fa-regular fa-star"></i>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="productRating" id="product-rating3" value="3">
                    <label class="form-check-label star-filter-label" for="product-rating3">
                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                            class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i
                            class="fa-regular fa-star"></i>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="productRating" id="product-rating2" value="2">
                    <label class="form-check-label star-filter-label" for="product-rating2">
                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                            class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i
                            class="fa-regular fa-star"></i>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="productRating" id="product-rating1" value="1">
                    <label class="form-check-label star-filter-label" for="product-rating1">
                        <i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i
                            class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i
                            class="fa-regular fa-star"></i>
                    </label>
                </div> -->

                <!-- sort by price -->
                <div class="form-check mt-3">
                    <b>Sort By Price</b>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="productPriceSort" id="product-discount-sort-decending"
                        value="1">
                    <label class="form-check-label" for="product-discount-sort-decending">Max - Min</label>
                </div>
                <!-- <div class="form-check">
                    <input class="form-check-input" type="radio" name="productPriceSort" id="product-discount-sort-ascending"
                        value="1">
                    <label class="form-check-label" for="product-discount-sort-ascending">Min - Max</label>
                </div> -->

                <!-- filter by discount -->
                <div class="form-check mt-3">
                    <b>Discount</b>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="productDiscount" id="product-discount-sort-decending"
                        value="-1">
                    <label class="form-check-label" for="product-discount-sort-decending">Max discount</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="productDiscount" id="product-discount-sort-ascending"
                        value="1">
                    <label class="form-check-label" for="product-discount-sort-ascending">Min discount</label>
                </div>
                <!-- filter by category -->
                <div class="form-check mt-3">
                    <b>Filter by category</b>
                </div>
                <% category.forEach((category)=>{ %>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="<%= category.categoryName %>"
                            id="product-category-checkbox" name="productCategory">
                        <label class="form-check-label" for="product-category-checkbox">
                            <%= category.categoryName %>
                        </label>
                    </div>
                    <% }) %>
                     

            </form>

        </div>
        <!-- side bar body ends -->
    </div>
    <!-- side bar ends -->

    <!-- category list of each products on the home page category banner -->

    <% category.forEach((item)=>{ %>
        <% if(item.isActive) { %>
            <a href="/home/?productCategory=<%= item.categoryName %>" class="category-name">
                <%- item.categoryName %>
            </a>
            <% } %>

                <% }) %>

</div>

<script>
    const minPrice = document.getElementsByName('minPrice')[0]
    const maxPrice = document.getElementsByName('maxPrice')[0]
    const filterForm=document.getElementById('filter-form-home')


    // event listener for filter form 
    filterForm.addEventListener('submit',(e)=>{
        e.preventDefault()

        console.log(window.location);

        // check the min price is greater than max price then fire an alert
        if(parseInt(minPrice.value)>parseInt(maxPrice.value)){
            // maxPrice.value=minPrice.value
            Swal.fire({
                icon:"error",
                title:"Error on logic",
                text:"Min price should be greater than max price"
            })
        }else{
            // if the sort condition does not have any logical error then fire a success message
            Swal.fire({
                icon:"success",
                title:"Sort applied",
                showConfirmButton:false,
                timer:1000
            })

            //after 1 second the form will submit
            setTimeout(() => {
                filterForm.submit()
            }, 1000);
        }
    })
</script>