<style>
.order-confirm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.animation-ctn {
  text-align: center;
  margin-top: 5em;
}

@keyframes checkmark {
  0% {
    stroke-dashoffset: 100px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 480px;
  }
  100% {
    stroke-dashoffset: 960px;
  }
}

@keyframes colored-circle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.icon--order-success svg polyline {
  animation: checkmark 0.25s ease-in-out 0.7s backwards;
}

.icon--order-success svg circle {
  animation: checkmark-circle 0.6s ease-in-out backwards;
}

.icon--order-success svg circle#colored {
  animation: colored-circle 0.6s ease-in-out 0.7s backwards;
}

h1 {
  margin-top: 25px;
  font-family: sans-serif;
}

p {
  margin-top: 15px;
  font-size: 14px;
  font-family: sans-serif;
}

</style>
<div class="order-confirm-container">
  <lottie-player
    src="https://lottie.host/9cf30b98-f897-4a40-9d6f-5f35fbb23eb1/ddixBHkjv7.json" background="##FFFFFF" speed="1"
    style="width: 300px; height: 300px" autoplay direction="1" mode="normal"></lottie-player>


  <div class="text-center">
    <h1>Order Confirmed</h1>
    <p>Thank you for your purchase! Your order has been successfully placed.</p>
<lottie-player
      src="https://lottie.host/c35c5871-9ced-4dd4-96fe-1ff02f074b2c/iTEZiJxFm1.json" background="##FFFFFF" speed="1"
      loop autoplay direction="1" mode="normal"></lottie-player>
  </div>
</div>


<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script>
  const confirmOrderTimer = setTimeout(() => {
    window.location.href = "/orders"
  }, 4000);


</script>