<style>
    .forget-password-container {
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url('../../image/otpBG1.webp');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .password-recovery-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #dcdcdc;
        border-radius: 10px;
        padding: 2rem 1rem;
        background-color: rgba(255, 255, 255, 0.4);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        gap: 1rem;
        width: 600px;
    }
    .password-recovery-box form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 100%;
    }
    .password-recovery-box form input{
       width: 80%;
       border: 1px solid #dcdcdc;
       padding: 10px;
    }

</style>

<%- include('navbar') %>

    <div class="forget-password-container">
        <div class="password-recovery-box">

            <h2>Verification</h2>
            <small>We will send you a One Time Verification on your mail address</small>
            <form action="/forget-password" method="post" id="forget-password-form">
                <input type="email" placeholder="Enter the email address" name="email" required>
                <button class="btn btn-primary" type="submit" id="forget-password-btn">Send OTP</button>
            </form>
        </div>
    </div>


    <script>
         // function to validate the password
         function validateEmail(email) {
                const re = /\S+@\S+\.\S+/;
                return re.test(email);
            }

            const forgetPasswordForm=document.getElementById('forget-password-form')
            const emailAddress=document.getElementsByName('email')[0]
            const forgetPasswordButton=document.getElementById('forget-password-btn')

            forgetPasswordForm.addEventListener('input',(e)=>{
                e.preventDefault();


                // remove unwanted white spaces 
                emailAddress.value=emailAddress.value.trim()

                // if the email is valid and the the email doesn't have any white spaces then only the button is enabled
                if(validateEmail(emailAddress.value) && emailAddress.value.trim()!=''){
                    forgetPasswordButton.disabled=false
                }else{
                    forgetPasswordButton.disabled=true
                }
                
            })
    </script>