<style>
    .forget-password-container {
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url('../../image/otpBG1.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .password-recovery-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #dcdcdc;
        border-radius: 10px;
        padding: 2rem 1rem;
        background-color: rgba(255, 255, 255, 0.4);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        gap: 1rem;
        width: 600px;
    }
    .password-recovery-box form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 100%;
    }
    .password-recovery-box form input{
       width: 80%;
       border: 1px solid #dcdcdc;
       padding: 10px;
    }

</style>

<%- include('navbar') %>

    <div class="forget-password-container">
        <div class="password-recovery-box">

            <h2>Verification</h2>
            <small>We will send you a One Time Verification on your mail address</small>
            <form action="">
                <input type="text" placeholder="Enter the email address">
            </form>
            <button class="btn btn-primary" type="submit">Send OTP</button>
        </div>
    </div>