<style>
    .forget-password-container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url('../../image/otpBG1.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: -20;
    }

    .forget-password-box {
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;

    }

    .forget-password-box form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    .otp-box {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;
    }

    .otp-box input {
        width: 50px;
    }
</style>


<%- include('navbar') %>

    <div class="forget-password-container">
        <div class="forget-password-box">
            <h2>Enter OTP Code</h2>
            <form action="">
                <div class="otp-box">
                    <input type="text" maxlength="1">
                    <input type="text" maxlength="1">
                    <input type="text" maxlength="1">
                    <input type="text" maxlength="1">
                </div>
                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>



    <%- include('footer') %>