<style>
    .new-password-container {
        min-height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url('../../image/otpBG1.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .password-recovery-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #dcdcdc;
        border-radius: 10px;
        padding: 2rem 1rem;
        background-color: rgba(255, 255, 255, 0.4);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        gap: 1rem;
        width: 600px;
    }

    .password-recovery-box form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 100%;
    }
    .password-recovery-box form input {
        width: 80%;
        border: 1px solid #dcdcdc;
        padding: 10px;
    }
    .password-recovery-box form label {
        width: 80%;
    }
    .password-recovery-box form small {
        width: 80%;
        color: #7e7e7e;
        cursor: pointer;
    }

</style>

<%- include('navbar') %>

    <div class="new-password-container">
        <div class="password-recovery-box">

            <h2>Verification</h2>
            <form action="/user/new-password" method="post" id="new-password-form">
                <label for="password">New Password</label>
                <input type="password" name="password" autocomplete="off" required >

                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" autocomplete="off" required >
                <small data-toggle="collapse" data-target="#password-criteria">Password constraints to follow</small>

                <div id="password-criteria" class="collapse">
                    <ul>
                        <li>Password should be at least 8 characters long.</li>
                        <li>Password should include a mix of uppercase letters, lowercase letters, numbers, and special
                            characters.</li>
                        <li>Avoid using common words, phrases, or easily guessable sequences.</li>
                        <li>Password should not contain personal information such as name, birthday, or username.</li>
                        <li>Avoid sequences like "12345678" or repeated characters like "aaaaaa".</li>
                        <li>Don't use complete dictionary words or common phrases.</li>
                    </ul>
                </div>

                <button class="btn btn-primary" type="submit" id="new-password-btn">Change Password</button>
            </form>
        </div>
    </div>
    <%- include('footer') %>

    <script>

        const newPasswordForm = document.getElementById('new-password-form')
        const password = document.getElementsByName('password')[0]
        const confirmPassword = document.getElementsByName('confirmPassword')[0]
        const newPasswordButton = document.getElementById('new-password-btn')

        newPasswordForm.addEventListener('input', (e) => {
            e.preventDefault();


            // remove unwanted white spaces 
            password.value = password.value.trim()
            confirmPassword.value = confirmPassword.value.trim()


            if (validatePassword(password.value) && password.value === confirmPassword.value ) {
                newPasswordButton.disabled = false
            } else {
                newPasswordButton.disabled = true
            }


        })


         // password validation function
         function validatePassword(password) {
                // Check if the password length is at least 8 characters
                if (password.length < 8) {
                    return false;
                }

                // Check if the password contains at least one uppercase letter
                if (!/[A-Z]/.test(password)) {
                    return false;
                }

                // Check if the password contains at least one lowercase letter
                if (!/[a-z]/.test(password)) {
                    return false;
                }

                // Check if the password contains at least one digit
                if (!/\d/.test(password)) {
                    return false;
                }

                // Check if the password contains at least one special character
                if (!/[!@#$%^&*()_+\-=[\]{};':"\\|,.<>/?]/.test(password)) {
                    return false;
                }

                return true;
            }



    </script>