<style>
    .admin-register-container {
        min-height: 120vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url('../../image/userRegister.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .register-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        border: 1px solid #c8c8c8;
        border-radius: 10px;
        padding: 3rem 2rem;
        background-color: rgba(255, 255, 255, 0.4);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        width: 35vw;
    }

    .register-form form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        width: 90%;
    }

    .register-form input {
        width: 90%;
        height: 2.5rem;
        border-radius: 10px;
        outline: none;
        border: none;
        background-color: #e7e7e7;
        color: #000000;
        padding: 10px;
    }

    .register-form button {
        width: 10rem;
    }
</style>



<%- include('navbar') %>

<!-- alert bar -->
<%- include('alert')%>

    <div class="admin-register-container">
        <div class="register-form">
            <form action="/user/signup" method="post" id="registration-form">
                <h2>User Registration</h2>
                <input type="text" name="name" placeholder="Full name" required>
                <input type="email" name="email" placeholder="Email address" required>
                <input type="tel" name="phone" placeholder="Phone number" required>
                <input type="password" name="password" placeholder="password" id="user-password" required>
                <input type="password" name="confirmPassword" placeholder="Confirm password" id="user-confirm-password" required>

                <button class="btn btn-primary" type="submit" id="register-button">Register</button>
                <p>Already have an account? <a href="/user/login">Login</a></p>
            </form>

        </div>

    </div>


    <%- include('footer') %>

    <script>
        // password validation function
        function validatePassword(password) {
            // Check if the password length is at least 8 characters
            if (password.length < 8) {
                return false;
            }

            // Check if the password contains at least one uppercase letter
            if (!/[A-Z]/.test(password)) {
                return false;
            }

            // Check if the password contains at least one lowercase letter
            if (!/[a-z]/.test(password)) {
                return false;
            }

            // Check if the password contains at least one digit
            if (!/\d/.test(password)) {
                return false;
            }

            // Check if the password contains at least one special character
            if (!/[!@#$%^&*()_+\-=[\]{};':"\\|,.<>/?]/.test(password)) {
                return false;
            }

            return true;
        }
        const registerForm=document.getElementById('registration-form')
        const password=document.getElementById("user-password")
        const confirmPassword=document.getElementById("user-confirm-password")
        const registerBtn=document.getElementById('register-button')

        // event listener for registration form
        registerForm.addEventListener('input',()=>{

            // if user enter the validated password that satisfies all the constraints and the password matches with the confirm password then the register button will enable
           if(validatePassword(password.value) && password.value===confirmPassword.value){
                registerBtn.disabled=false
           }else{
                registerBtn.disabled=true
           }


        })




    </script>